# Collarbarative Filtering with Fastai and MovieLens Dataset

In [4]:
import pandas as pd

from fastai.collab import untar_data, URLs
from fastai.collab import CollabDataBunch, collab_learner

### Unloading sample data to OS default path

In [2]:
path = untar_data(URLs.ML_SAMPLE)
path

WindowsPath('C:/Users/Milind Dalvi/.fastai/data/movie_lens_sample')

In [5]:
df = pd.read_csv(path/'ratings.csv')
df.head()

   userId  movieId  rating   timestamp
0      73     1097     4.0  1255504951
1     561      924     3.5  1172695223
2     157      260     3.5  1291598691
3     358     1210     5.0   957481884
4     130      316     2.0  1138999234

### Creating Dataset

In [7]:
dataset = CollabDataBunch.from_df(df, seed=42)
dataset

TabularDataBunch;

Train: LabelList (4825 items)
x: CollabList
userId 73; movieId 1097; ,userId 561; movieId 924; ,userId 157; movieId 260; ,userId 358; movieId 1210; ,userId 130; movieId 316;
y: FloatList
4.0,3.5,3.5,5.0,2.0
Path: .;

Valid: LabelList (1206 items)
x: CollabList
userId 306; movieId 2628; ,userId 605; movieId 3793; ,userId 313; movieId 4886; ,userId 468; movieId 1136; ,userId 380; movieId 539;
y: FloatList
3.0,2.0,4.5,4.0,1.5
Path: .;

Test: None

### Modelling

In [8]:
learn = collab_learner(dataset, n_factors=50, y_range=(0, 5.5))

In [9]:
learn.fit_one_cycle(3, 5e-3)